:root {
    /* -- Color Palette -- */
    --bg-color: #1A1C1E;
    --text-primary: #F0EAD6;

    --color-correct: #49d72f;
    --color-present: #CF992D;
    --color-absent: #322F2B;

    --border-metal: #8E867A;
    --focus-glow: #FF8C00;

    /*  Buttons colors  */
    --button-plains: #3E2E06;
    --button-forest: #302E09;
    --button-basin: #401208;
    --button-cliffs: #29342F;
    --button-ruins: #1F1417;
    --button-hollow: #6D675C;
}