/* -- Color Palette -- */
:root {
    --bg-color: #1A1C1E;
    --text-primary: #F0EAD6;

    --color-correct: #49d72f;
    --color-present: #CF992D;
    --color-absent: #322F2B;

    --border-metal: #8E867A;
    --focus-glow: #FF8C00;

    /*  Buttons colors  */
    --button-plains: #3E2E06;
    --button-forest: #302E09;
    --button-basin: #401208;
    --button-cliffs: #29342F;
    --button-ruins: #1F1417;
    --button-hollow: #6D675C;
}

/* ------------------- */


/* -- Main Structure -- */
body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------- */


/* -- DIV components -- */
#background {
    position: absolute;
    top: 0;
    background-image: url("../../assets/images/bg1.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: -999;
    filter: blur(7px) saturate(140%);
    opacity: 25%;
}

.underlinebar {
    height: 2px;
    width: auto;
    background-color: var(--text-primary);
    border-radius: 10px;
    margin-top: -15px;
    margin-bottom: 0;
}

/* ------------------------------- */


/* -- Span Potion Icon -- */
.icon {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/images/potion.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------------------- */


/* -- Span parameters Icon -- */
#param {
    position: absolute;
    left: 0;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/images/parameterIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------------------- */

/* -- Span parameters Panel -- */
#paramPanel {
    display: none;
    width: 150px;
    height: 150px;
    align-items: center;
    z-index: 2;
    background: white;
    box-shadow: 5px 5px #666;
}

/* ---------------------- */

/* -- Span language Icon -- */
#lang {
    position: absolute;
    top: 19px;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/images/englishFlag.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------------------- */

/* -- Position Helpers -- */
.left {
    margin-right: 20px;

}

.right {
    margin-left: 20px;
}

/* ---------------------- */


/* -- Main Header Title -- */
header h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

header h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* ----------------------- */

/* -- Footer Manager -- */
#footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 40px;
    left: 0;
}

/* ----------------------- */

/* -- Span github Icon -- */
#githubLogo {
    display: inline-flex;
    position: absolute;
    bottom: 15px;
    left: 48%;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/images/githubLogo.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------------------- */

/* -- Span Buttons -- */
.button{
    width: 40px;
    height: 40px;
    background: red;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
    bottom : -200%;
}

/* ---------------------- */

/* -- Buttons Animations -- */
.button:hover {
    transform: scale(1.2);
}

/* ---------------------- */

/* -- Buttons Colors -- */

#monsterTablePage {
    background-color: var(--button-plains);
}

#WeaponTablePage{
    background-color: var(--button-forest);
}

#CompendiumPage{
    background-color: var(--button-basin);
}

#roarPage{
    background-color: var(--button-ruins);
}

#talentsPage{
    background-color: var(--button-hollow);
}

/* ---------------------- */