:root {
  --color-background: #1A1C1E;
  --color-text: #F0EAD6;

  --color-correct: #49d72f;
  --color-present: #CF992D;
  --color-absent: #a30202;

  --border-metal: #8E867A;
  --focus-glow: #FF8C00;

  /*  Buttons colors  */
  --button-plains: #3E2E06;
  --button-forest: #302E09;
  --button-basin: #401208;
  --button-cliffs: #29342F;
  --button-ruins: #1F1417;
  --button-hollow: #6D675C;

  --bg-id-1: var(--button-plains);
  --bg-id-2: var(--button-forest);
  --bg-id-3: var(--button-basin);
  --bg-id-4: var(--button-cliffs);
  --bg-id-5: var(--button-ruins);
  --bg-id-6: var(--button-hollow);

  --border-radius: 15px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/**/
}