@import './base.css';
@import './fonts.css';

:root {
  --id-1: var(--button-plains);
  --id-2: var(--button-forest);
  --id-3: var(--button-basin);
  --id-4: var(--button-cliffs);
  --id-5: var(--button-ruins);
  --id-6: var(--button-hollow);
}


#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}